@page
@model Helpdesk.Pages.RoleAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HelpdeskRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HelpdeskRole.Name" class="control-label"></label>
                <input asp-for="HelpdeskRole.Name" class="form-control" />
                <span asp-validation-for="HelpdeskRole.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HelpdeskRole.Description" class="control-label"></label>
                <input asp-for="HelpdeskRole.Description" class="form-control" />
                <span asp-validation-for="HelpdeskRole.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HelpdeskRole.IsPrivileged" /> @Html.DisplayNameFor(model => model.HelpdeskRole.IsPrivileged)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HelpdeskRole.IsSuperAdmin" /> @Html.DisplayNameFor(model => model.HelpdeskRole.IsSuperAdmin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
