@page
@model Helpdesk.Pages.TicketPriorities.CreateModel

@{
    ViewData["Title"] = "Create Ticket Priority";
}

<h1>Create</h1>

<h4>Ticket Priority</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketPriority.Name" class="control-label"></label>
                <input asp-for="TicketPriority.Name" class="form-control" />
                <span asp-validation-for="TicketPriority.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPriority.Description" class="control-label"></label>
                <input asp-for="TicketPriority.Description" class="form-control" />
                <span asp-validation-for="TicketPriority.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPriority.DisplayOrder" class="control-label"></label>
                <input asp-for="TicketPriority.DisplayOrder" class="form-control" />
                <span asp-validation-for="TicketPriority.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
